.question-answers {
  &__title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1c2338;
  }

  &__answer-option {
    display: block;
    padding: 0.5rem 0;

    &--inline {
      display: inline-block;

      &::ng-deep label {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #d1d9e8;
        border-radius: 4px;
        box-shadow: 0 0 0 1px #d1d9e8;
        padding: 0.75rem 1rem;
      }

      &:hover {
        &::ng-deep label {
          border-color: #adb8cc;
          box-shadow: 0 0 0 1px #adb8cc;
        }
      }
    }

    &::ng-deep p:last-child {
      margin-bottom: 0;
    }
  }

  &__submit-container {
    margin-top: 1rem;
    text-align: center;
  }
}
