<div class="messenger">
  <ng-container *ngFor="let message of messages$ | async; last as isLast">
    <div
      *ngIf="isStatementMessage(message)"
      class="messenger__message"
      [innerHTML]="message.text_html"
    ></div>
    <div
      *ngIf="
        isQuestionMessage(message) &&
        (activeQuestionId$ | async) !== message.question_id
      "
      class="messenger__message"
      [innerHTML]="message.name_html"
    ></div>
    <app-question-answers
      *ngIf="
        isQuestionMessage(message) &&
        (activeQuestionId$ | async) === message.question_id
      "
      [message]="message"
      (onSubmit)="submitAnswers(message, $event)"
    ></app-question-answers>

    <div
      class="messenger__message messenger__message--loading"
      *ngIf="isLast && isStatementMessage(message) && !(isDone$ | async)"
    >
      <span class="messenger__loading-dot"></span>
      <span class="messenger__loading-dot"></span>
      <span class="messenger__loading-dot"></span>
    </div>
  </ng-container>
</div>
