.messenger {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 50vh;
  display: flex;
  flex-direction: column;

  &__message {
    max-width: 40%;
    background-color: #f2f5fa;
    padding: 0.5rem 1rem;
    border-radius: 0.125rem 1.25rem 1.25rem 1.25rem;
    animation: pop 0.5s cubic-bezier(0.5, -0.3, 0.7, 0.05);

    &::ng-deep p {
      margin-bottom: 0;
    }

    & + & {
      margin-top: 0.5rem;
    }

    &--response {
      align-self: flex-end;
      font-weight: 500;
      color: #7256fc;
      border-radius: 1.25rem 1.25rem 0.125rem 1.25rem;
    }

    &--loading {
      display: inline-flex;
      padding: 1.25rem 1rem 0.5rem;
    }

    @keyframes pop {
      0% {
        opacity: 0;
        transform: scale(0.97);
      }

      60% {
        transform: scale(0.97);
      }

      80% {
        transform: scale(1.01);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__loading-dot {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.25rem;
    background: #646b7d;
    border-radius: 1rem;
    animation: loader 0.5s infinite alternate;
    animation-timing-function: cubic-bezier(0.25, 0.6, 0.35, 1);

    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.3s;
    }

    @keyframes loader {
      from {
        transform: translateY(0);
      }

      to {
        transform: translateY(-0.5rem);
      }
    }
  }
}
